<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>General Sentiment Analysis</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/all.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/popper.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/all.js"></script>
	<link rel="stylesheet" type="text/css" 
	href="../static/styles.css">
</head>
<body style="background-color: black;color: #c4bfb3;">
	
<!-- Navigation -->
<nav class="navbar sticky-top navbar-expand-md">
<div class="container-fluid">
	<a class="navbar-brand" href="http://127.0.0.1:5000/"><p class ="navbar-nav li" 
		style="color: #f0eee9;font-weight: bold;">GSA-NLP</p></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarResponsive">
	<i class="fas fa-bars"></i>	
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="./home.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./about.html">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./insight.html">Insight</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./test.html">Test it Out</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./team.html">Team</a>
			</li>
		</ul>
	</div>	
</div>
</nav>

<!--- Two Column About Section -->
<div class="container-fluid padding">
	<hr class="my-4">
<div class="row padding">
	<div class="col-lg-6">
		<a id="About"></a>
		<br><br>
		<h1 class="display-4" style="font-weight: bold;">
		About Application.</h1>
		<p>This application is based on the concept of natural language processing and implemented using machine learning algorithms.</p>
		<p> The applications takes an input review from user(must be text)and generates result stating whether the input is positive or negative.</p>
		<p>The confidence percent here is the percentage of certainty of our model(i.e. how much it is certain that the result generated is correct).</p>
		<br>
	</div>
	<div class="col-lg-6">
		<img src="../static/img/about1.png" class="img-fluid">
	</div>
</div>	
</div>

<a href="./home.html" style="color: #c4bfb3;font-weight: bold; text-align: center;"><h3>Previous</h3></a>   
<a href="./insight.html" style="color: #c4bfb3;font-weight: bold; text-align: center;"><h3>Next</h3></a>

</body>
</html>