<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>General Sentiment Analysis</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/all.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/popper.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/all.js"></script>
	<link rel="stylesheet" type="text/css" 
	href="../static/styles.css">
</head>
<body style="background-color: black;color: #c4bfb3;">
	
<!-- Navigation -->
<nav class="navbar sticky-top navbar-expand-md">
<div class="container-fluid">
	<a class="navbar-brand" href="https://general-sentiment-nlp.herokuapp.com"><p class ="navbar-nav li" 
		style="color: #f0eee9;font-weight: bold;">GSA-NLP</p></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarResponsive">
	<i class="fas fa-bars"></i>	
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="./home.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./about.html">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./insight.html">Insight</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./test.html">Test it Out</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./team.html">Team</a>
			</li>
		</ul>
	</div>	
</div>
</nav>
<!--- Home Image Slider -->
<a id="Home"></a>
<br><br>
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
</ul>
<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="../static/img/bg1.png">
		<div class="carousel-caption">
			<h1 class="display-2">General Sentiment Analysis-nlp</h1>
			<h3>ML Approach</h3>
		</div>
	</div>
	<div class="carousel-item">
		<img src="../static/img/bg2.png">
		<div class="carousel-caption">
			<h1 class="display-2">Natural Language Processing</h1>
		</div>
	</div>
	<div class="carousel-item">
		<img src="../static/img/bg3.png">
		<div class="carousel-caption">
			<h1 class="display-2">Machine Learning</h1>
		</div>
	</div>
</div>
</div> 
<hr>
<a href="./about.html" style="color: #c4bfb3;font-weight: bold; text-align: center;"><h3>Next</h3></a>


</body>
</html>







