<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>General Sentiment Analysis</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/all.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/popper.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/all.js"></script>
	<link rel="stylesheet" type="text/css" 
	href="../static/styles.css">
</head>
<body style="background-color: black;color: #c4bfb3;">
	
<!-- Navigation -->
<nav class="navbar sticky-top navbar-expand-md">
<div class="container-fluid">
	<a class="navbar-brand" href="http://127.0.0.1:5000/"><p class ="navbar-nav li" 
		style="color: #f0eee9;font-weight: bold;">GSA-NLP</p></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarResponsive">
	<i class="fas fa-bars"></i>	
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="./home.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./about.html">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./insight.html">Insight</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./test.html">Test it Out</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./team.html">Team</a>
			</li>
		</ul>
	</div>	
</div>
</nav>


<!--- Meet the team -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<br><br><br>
		<h1 class="display-4">Meet the Team</h1>
	</div>
</div>	
<!--- Cards -->
<div class="row padding">
	<div class="card-deck">
		<div class="col-md-3">
			<div class="card border-0">
				<img class="card-img-top" src="../static/img/member1.jpg">
				<div class="card-body" style="background-color: black;">
					<h5 class="card-title">Rishabh Dewangan</h5>
					<p class="card-text">Worked on Machine Learning models and optimizations.</p>
				</div>
			</div>
		</div>
	
		<div class="col-md-3">
			<div class="card border-0">
				<img class="card-img-top" src="../static/img/member2.jpg">
				<div class="card-body" style="background-color: black;">
					<h5 class="card-title">Shalini Kar</h5>
					<p class="card-text">Worked on Web app Framework(Flask).</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card border-0">
				<img class="card-img-top" src="../static/img/m21.png">
				<div class="card-body" style="background-color: black;">
					<h5 class="card-title">Sanjana Swarnkar</h5>
					<p class="card-text">Worked on Web app design.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card border-0">
				<img class="card-img-top" src="../static/img/member4.jpg">
				<div class="card-body" style="background-color: black;">
					<h5 class="card-title">Deepesh Dewangan</h5>
					<p class="card-text">Project Guide</p>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>

<a href="./home.html" style="color: #c4bfb3;font-weight: bold; text-align: center;"><h3>Go to Home</h3></a>   
<a href="./test.html" style="color: #c4bfb3;font-weight: bold; text-align: center;"><h3>Test Again</h3></a>

</body>
</html>